* {
    margin: 0;
    padding: 0;

}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

section {
    height: 100dvh;
}

.landing {
    background-color: #C6DCBA;
    background-image: url("landing-image.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-part1 {
    background-color: #d5dbdb;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 64%, #115d5e 64%) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-part2 {
    background-color: #d5dbdb;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 64%, #115d5e 64%) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {

    text-decoration: none;
}

.citation {
    margin-right: 10%;
    text-align: right;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.citation blockquote {
    margin: 0;
}

.citation figcaption {
    margin-top: 5px;
    font-style: italic;
}


.list-item::after {
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(0, 183, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.list-item:hover::after {
    opacity: 1;

}

.list-item {
    font-size: 1.2rem;
    position: relative;
    transition: all 0.4s;
    color: white;
}

.fa-leaf {
    height: 100%;
}

.navbar-toggler {
    height: 50px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.landing-text {
    width: 75%;
    margin-top: 10%;
    margin: auto;
}

.title {
    font-weight: 400;
    font-size: 3em;
    color: #709D9E;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}


.descriptive-text {
    font-weight: 250;
    font-size: 1.5em;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    overflow: hidden;
}

.group-walks {
    display: flex;
}

.left-text {
    float: left;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
}

.right-image {
    margin-top: 4.5%;
    margin-left: 6%;
    float: right;
    height: 100%;
    height: fit-content;
}

.left-image {
    margin-top: 6.5%;
    margin-left: 15.5%;
    float: left;
    height: 100%;
    height: fit-content;
}

.owner{
    min-width: 280px;
    max-width: 450px;
    min-height: 450px;
}

.group-of-people {
    max-width: 500px;
}

.group-title {
    font-weight: 700;
    font-family: 'Cormorant', Georgia, "Times New Roman", serif;
    color: #4c4c4c;
}

.descriptive-group {
    font-size: 1.5em;
    color: #4c4c4c;
    font-family: 'Cormorant', Georgia, "Times New Roman", serif;
}

@media only screen and (max-width: 600px) {
    .descriptive-text {
        font-size: 1rem;
        color: white;
    }
}