* {
    margin: 0;
    padding: 0;

}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

section {
    height: 100dvh;
}

.landing {
    background-color: #C6DCBA;
    background-image: url("landing-image.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


a {
    text-decoration: none;
    color: #b4f5ba;
}

a:hover {
    color: white;
}

.list-item::after {
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(0, 183, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.list-item:hover::after {
    opacity: 1;

}

.list-item {
    font-family: 'Montserrat', 'Times New Roman';
    font-size: 1.3rem;
    position: relative;
    transition: all 0.4s;
    color: white;
}

.fa-leaf {
    height: 100%;
}

.navbar-toggler {
    height: 50px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.landing-text {
    width: 75%;
    padding-top: 170px;
    margin: auto;
}

.title {
    font-family: 'Montserrat', 'Times New Roman';
    font-size: 3rem;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.descriptive-text {
    font-family: 'Montserrat', 'Times New Roman';
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1.4s ease-out, transform 1.4s ease-out;
}